html,
body {
  margin: 0;
}

body {
  font-family: "Brush Script MT", cursive;
}

main,
header {
  /* max-width: 1920px; */
}

header {
  font-size: 1.2em;
  margin: 1em;
  position: relative;
  vertical-align: bottom;
}

nav {
  position: absolute;
  display: inline;
  right: 0;
}

.logo {
  width: 3em;
}

.recipe_category {
  display: inline-block;
}

.subcategory {
  display: none;
}

nav span {
  margin-left: 1em;
}

main {
  margin: 1em;
}

.recipe_intro {
  display: inline-block;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.recipe_img_container,
.description_container {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.recipe_img_container {
  padding-right: 1em;
  box-sizing: border-box;
}

.recipe_img {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

.description_container {
  position: absolute;
}

.section_title {
  margin-top: 0;
}

.recipe_details {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 1em;
}

.ingredients_container,
.instructions_container {
  display: inline-block;
  width: 50%;
}

.instructions_container {
  position: absolute;
}
